<form (ngSubmit)="onSubmit()">
    <div>
      <label for="dateDebut">Start Date:</label>
      <input type="datetime-local" id="dateDebut" [(ngModel)]="reservation.dateDebut" name="dateDebut" required>
    </div>
    <div>
      <label for="dateFin">End Date:</label>
      <input type="datetime-local" id="dateFin" [(ngModel)]="reservation.dateFin" name="dateFin" required>
    </div>
    <div>
      <label for="duree">Duration (hours):</label>
      <input type="number" id="duree" [(ngModel)]="reservation.duree" name="duree" required>
    </div>
    <div>
      <label for="idSalle">Room ID:</label>
      <input type="number" id="idSalle" [(ngModel)]="reservation.salle.idSalle" name="idSalle" required>
    </div>
   
    <button type="submit">Make Reservation</button>
  </form>
  
