<header id="menu-jk">
    
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                    <img class="lo" src="assets/images/logo.png" alt="">
                    <img class="lob hid" src="assets/images/logo-black.png" alt="">
                   <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                </div>
                <div id="menu" class="col-lg-9 col-md-9 d-none d-md-block nav-item">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Facilitys</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#p">Pricing</a></li>  
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#t">Contact Us</a></li>
                        <li><a routerLink="/header/login">Log in</a></li>
                    </ul>
                </div>
               
               
            </div>
            
        </div>
        
    </div>
   
</header>

<div >
    <router-outlet></router-outlet>
</div>



  