<div class="login">
    <h1>Sign Up</h1>
    <form (ngSubmit)="onSignup()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required" />
      <input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name" required="required" />
      <input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" required="required" />
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required" />
      <input type="number" [(ngModel)]="numTel" name="numTel" placeholder="Telephone Number" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Sign Up</button>
    </form>
  </div>